.card-form {
  width: 100%;
  min-height: 350px;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 20px;
}
.hidden {
  display: none;
}
.teste {
  background-color: #0a0a0a;
}
.alternatives-content{
  margin-left: 20px;
}
