.input-questions, .input-questions:focus{
  outline: 0!important;
  border-color: transparent !important;
  box-shadow: none!important;
  border-bottom: 1.5px solid #cccccc !important;
  border-radius: 0 !important;
}
.input-questions:after{
  width: 100%;
  height: 2px;
  background-color: #353535;
}
.input-questions:hover{

}
.btn-remove-opt{
  width: 35px;
  height: 35px;
  border-radius: 3px;
  color: #d6d6d6;
  position: absolute;
  right: -35px;
  text-align: center;
  cursor:pointer;
  font-size: 1.6em;
}
